nav {
    text-align: center;
    height: 100px;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    background-color: #7F7F7F;
}


#menuBar{
    padding: 5%;
    
}

#menuBar img{
     width: 100%;
     height: auto;
     display: block;
}
td{
    width:20%;
}